.itemBg{
  background-color: var(--burgundy);
  border: solid 2px var(--burgundy);
  max-width: 150px;
  width: 100%;

  margin-bottom: 20px;
}
.itemBor{
  color: var(--burgundy);
  border: solid 2px var(--burgundy);
}
