.itemBg{
  background-color: var(--header-bg);
  border: solid 2px var(--header-bg);
  max-width: 150px;
  width: 100%;

  margin-bottom: 20px;
}
.itemBor{
  color: var(--header-bg);
  border: solid 2px var(--header-bg);
}
