.cart {
  margin-top: 60px;
  position: relative;
  width:800px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 90px auto;
  .content__title {
    margin: 0;
  }
  .cartTop {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:500px) {
      flex-direction: column;
    }
  }
  @media (max-width:1000px) {
    width:600px;
  }
  @media (max-width:800px) {
    margin-top: 0px;
    width:500px;
  }
  @media (max-width:630px) {
    width:400px;
  }
  @media (max-width:500px) {
 
    width:350px;
  }
  @media (max-width:450px) {
    width:330px;
  }

  .contentTitle{
    display: flex;
    align-items: center;
    font-size: 32px;
    color:var(--primary-text);
    margin-bottom: 10px;
    svg {
      position: relative;
      top: -2px;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      path {
        stroke: var(--black);
        stroke-width: 1.9;
      }
    }
  }

  .cartClear {
    display: flex;
    align-items: center;
    cursor: pointer;

    span {
      margin:0px;
      display: inline-block;
      margin-left: 7px;
      color: #b6b6b6;
      font-size: 18px;
    }

    span,
    svg,
    path {
      margin-bottom:0px;
    }

    &:hover {
      svg {
        path {
          stroke: darken($color: #b6b6b6, $amount: 50);
        }
      }
      span {
        color: darken($color: #b6b6b6, $amount: 50);
      }
    }
  }
.contentItemsCart{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}
 

.cartBottom {
    margin: 50px 0;

    .cartBottomDetails {
      display: flex;
      justify-content: space-between;
      @media (max-width:800px) {
        flex-direction: column;
        align-items: center;
      }
      span {
        font-size: 22px;

        &:last-of-type {
          b {
            // color: $burgundy;
          }
        }
      }
    }

    .cartBottomButtons {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      @media (max-width:850px) {
        flex-direction: column ;
        align-items: center;
      }
      @media (max-width:670px) {
        
      }
      @media (max-width:580px) {
       
      }
      .goBackBtn {
        height: 50px;
        border-radius:12px;
        border: solid 2px var(--header-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;

        @media (max-width:1000px) {
          margin-bottom: 20px;
        }

        span {
          margin:0px;
          color:var(--primary-text);
          // color: darken($color: $gray-line, $amount: 20);
          font-weight: 500;
                 }



          span {
            color:var(--primary-text);
            font-weight: 600;
          }
        

        svg {
          margin-bottom:0px;
          margin-right: 12px;
          path {
            fill: transparent;
            stroke-width: 2;
          }
        }
      }

      .pay-btn {
        
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        width: 210px;
        padding: 16px;
      }
      .handleCreateOrder{
        border-radius:12px;
        height: 50px;
        background: var(--header-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        width: 240px;
        padding: 16px;
        span{
          color:var(--white);
          margin:0;
        }
      }
    }
  }


}