@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Poppins:wght@200&family=Roboto:wght@400;500;700;900&display=swap');

:root{
  --theme-icon:url('https://i.ibb.co/7JfqXxB/sunny.png');
  --max-width: 1600px ;
  --primary-text : #000000;
  --secondary-text: #7C7C7C;
  --select-text:#ffffff;
  --burger-text: #E5E5E5;


  --primary-bg: #ffffff;
  --header-bg: #546a44f7;
  --header-bg-dark: #415235f7;
  --secondary-bg: #E5E5E5;
  --block-bg: #ffffff;
  --burger-bg: rgba(0, 0, 0, 0.946);
  --infoMap-bg:  #546a44e2;
  --admin-modal-bg: #2d2d2d;

  --white: #ffffff;
  --blue: #1900D5;
  --lime: #C1EF00;
  --orange: #fe5f1e;
  --burgundy-light:#e70505;
  --burgundy:#c80202;
  --burgundy-dark:#af0303;
  --black: #000000;
  --grey: #3C3C3C;
  --light-grey: #7C7C7C;

  --border-color: #3C3C3C;
  --border-radius: 12px;
}

[data-theme='dark']:root{
  --theme-icon:url('https://i.ibb.co/FxzBYR9/night.png');
  --primary-text : #ffffff;
  --secondary-text: #7C7C7C;
  --select-text:#000000;

  --primary-bg: #000000;
  --secondary-bg: #2d2d2d;
  --secondary-bg-light: #656565;
  --block-bg: #3C3C3C;
  --infoMap-bg: rgba(60, 97, 62, 0.767);

  ---border-color: #D1D1D1;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
p,
a,
span{
  color: var(--primary-text);

}


body{
  max-width: var(--max-width);
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--primary-bg);
}

.App.hidden{
  overflow: hidden;
}

.wrapper{
  flex: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 100vh;
}

.container{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  // @media (min-width: Xpx) {
  //   }
}


.content{
 margin-top: 100px;
}

.outside-content-block{
  margin: 0 -160px;
}
.Toastify__close-button.Toastify__close-button--dark{
 width: 30px;
}


// button {
//   display: flex;
//   align-items: center;
//   background-color: red;
//   border-radius: 30px;
//   padding: 6px 15px;
//   min-width: 100px;
//   text-align: center;
//   cursor: pointer;
//   transition: background-color red ease-in-out, border-color red ease-in-out;
//   border: 1px solid transparent;

//   &,
//   span {
//     color: #fff;
//   }

//   i,
//   span,
//   path,
//   svg {
//     transition: all red ease-in-out;
//   }

//   &:hover {
//     background-color: darken(black, 8%);
//   }

//   &:active {
//     background-color: darken(black, 12%);
//     transform: translateY(1px);
//   }

//   &--circle {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 32px;
//     height: 32px;
//     min-width: 32px;
//     padding: 0;
//     border-width: 2px;
//   }

//   &--black {
//     background-color: red;

//     &:hover,
//     &:active {
//       background-color: lighten( black,  10);
//     }
//   }

//   &--outline {
//     background-color: #fff;
//     border-color: black;
//     &,
//     span {
//       margin: 0 5px;
//       color: red;
//     }

//     svg {
//       path {
//         fill: red;
//       }
//     }

//     &:hover {
//       border-color: red;
//       background-color: red;
//       color: #f9f9f9;

//       &,
//       span {
//         color: #fff;
//       }

//       svg {
//         path {
//           fill: #fff;
//         }
//       }
//     }

//     &:active {
//       background-color: darken(black, 8%);
//     }
//   }

//   &__delimiter {
//     width: 1px;
//     height: 25px;
//     background-color: rgba(255, 255, 255, 0.25);
//     margin-left: 14px;
//     margin-right: 14px;
//   }

//   &--add {
//     svg {
//       margin-right: 2px;
//     }

//     span {
//       font-weight: 600;
//       font-size: 16px;
//     }

//     &:hover {
//       i {
//         background-color: #fff;
//         color: red;
//       }
//     }

//     i {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border-radius: 30px;
//       background-color: red;
//       color: #fff;
//       font-weight: 600;
//       width: 22px;
//       height: 22px;
//       font-style: normal;
//       font-size: 13px;
//       line-height: 22px;
//       position: relative;
//       top: 0;
//       left: 3px;
//     }
//   }

//   &--cart {
//     display: flex;
//     align-items: center;
//     line-height: 23px;
//     padding: 12px 25px;

//     svg {
//       margin-right: 8px;
//       margin-bottom: 1px;
//     }

//     span {
//       font-weight: 600;
//       font-size: 16px;
//     }
//   }
// }
