@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@400;500;700;900&display=swap');

:root{
  --theme-icon:url('https://i.ibb.co/7JfqXxB/sunny.png');
  --max-width: 1600px ;
  --primary-text : #000000;
  --secondary-text: #7C7C7C;
  --select-text:#ffffff;
  --burger-text: #E5E5E5;


  --primary-bg: #ffffff;
  --secondary-bg: #E5E5E5;
  --block-bg: #ffffff;
  --burger-bg: #3c3c3c99;

  --blue: #1900D5;
  --lime: #C1EF00;
  --orange: #fe5f1e;
  --burgundy:#c80202;
  --black: #000000;
  --grey: #3C3C3C;
  --light-grey: #7C7C7C;

  --border-color: #3C3C3C;
  --border-radius: 12px;
}

[data-theme='dark']:root{
  --theme-icon:url('https://i.ibb.co/FxzBYR9/night.png');
  --primary-text : #ffffff;
  --secondary-text: #7C7C7C;
  --select-text:#ffffff;

  --primary-bg: #000000;
  --secondary-bg: #656565;
  --block-bg: #3C3C3C;

  ---border-color: #D1D1D1;
}

p,
a,
span{
  color: var(--primary-text);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  max-width: var(--max-width);
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--primary-bg);
}

.wrapper{
  padding: 15px;
  flex: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 100vh;
}

.container{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  // @media (min-width: Xpx) {
  //   }
}

.content{
  width: 100%; 
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
   // @media (min-width: Xpx) {
  //   }
}

.outside-content-block{
  margin: 0 -160px;
}
