.root{
  max-width: 450px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 20px;
  
  .priceList{
    max-width: 600px;
    width: 100wh;
  }
}
.priceContainerTitle{
  color:var(--primary-text);
  font-size: 32px;
  margin: 0 auto;
  margin-bottom: 20px;
}