.root {
	margin-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;


}
.root span{
	font-size: 50px;
	margin-bottom:20px;

}
p{
	font-size: 30px;
}